In [69]:
import os
os.chdir('E:\\Data Science\Python\Python Assignments\DataSets')

In [70]:
import numpy as np
import pandas as pd

In [71]:
import csv
terror = pd.read_csv('terror.csv',encoding='latin')

C:\Users\Administrator\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
terror[terror['country']>5].shape

(147005, 137)

In [7]:
#Q.1)	How many attacks happened in India?
len(terror[terror.country_txt=="India"])

9940

In [29]:
#Q.2)	How many attacks happened in India and upto 3 people were killed? 
t = terror[terror.country_txt=="India"]
t[terror.nkill<=3].count().iyear

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

8362

In [17]:
#Q.3) Extract the city and summary for attacks above

print("City:",t[terror.nkill<=3].count().city)
print("Summary:",t[terror.nkill<=3].count().summary)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

City: 8362
Summary: 6246

In [41]:
#Q.4)	In a single terror incident in India, find out top 5 cities by number killed

t4 = terror.query("(country_txt=='India')")[["eventid","country_txt","city","nkill"]].sort_values('nkill',ascending=False)
#t5['nkill_nwound']=t5.nkill+t5.nwound
t4.sort_values('nkill',ascending=False).head(5)

            eventid country_txt                city  nkill
81000  200607120001       India              Mumbai  188.0
54339  199212080019       India              Bombay  115.0
96598  201005280005       India             Jhargam  115.0
95860  201004060005       India  Dantewada district   82.0
56837  199407240008       India            Banabari   70.0

In [37]:
#Q.5)	In a single terror incident in India, find out top 5 cities by number killed and wounded 

t5=terror.query("(country_txt=='India')")[["eventid","country_txt","city","nkill","nwound"]].sort_values('nkill',ascending=False)
t5['nkill_nwound']=t5.nkill+t5.nwound
t5.sort_values('nkill_nwound',ascending=False).head(5)

            eventid country_txt       city  nkill  nwound  nkill_nwound
81000  200607120001       India     Mumbai  188.0   817.0        1005.0
89128  200810300005       India     Dispur   37.0   235.0         272.0
96598  201005280005       India    Jhargam  115.0   140.0         255.0
30378  198703150006       India    Chennai   32.0   200.0         232.0
79045  200510290010       India  New Delhi   55.0   155.0         210.0

In [36]:
#Q.6) How many attacks were successful that were suicide attacks?
terror[(terror.success==1)& (terror.suicide==1)].count().iyear

4260

In [65]:
#Q.7) label all the incidents where the number killed was more than 5 as severe. 
terror['label']=np.where(terror['nkill'] > 5, 'severe', 'notsevere')
terror.query("(label=='severe')").count().iyear
terror

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,Area,label
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,PGIS,0,0,0,0,NaN,Rest,notsevere
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,PGIS,0,1,1,1,NaN,Rest,notsevere
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,Rest,notsevere
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,Rest,notsevere
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,Rest,notsevere
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,Rest,notsevere
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,"David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN,Rest,notsevere
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN,Rest,notsevere
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,PGIS,0,0,0,0,NaN,Rest,notsevere
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
12,197001080001,1970,1,8,NaN,0,NaN,98,Italy,8,...,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN,Rest,notsevere
13,197001090001,1970,1,9,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
14,197001090002,1970,1,9,NaN,0,NaN,217,United States,1,...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN,Rest,notsevere
15,197001100001,1970,1,10,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,PGIS,0,1,1,1,NaN,Rest,notsevere
16,197001110001,1970,1,11,NaN,0,NaN,65,Ethiopia,11,...,NaN,NaN,PGIS,0,1,1,1,NaN,Rest,notsevere
17,197001120001,1970,1,12,NaN,0,NaN,217,United States,1,...,"Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
18,197001120002,1970,1,12,NaN,0,NaN,217,United States,1,...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
19,197001130001,1970,1,13,NaN,0,NaN,217,United States,1,...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
20,197001140001,1970,1,14,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
21,197001150001,1970,1,15,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,Rest,notsevere
22,197001190002,1970,1,19,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
23,197001190003,1970,1,19,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
24,197001190004,1970,1,19,"January 19-20, 1970",0,NaN,217,United States,1,...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
25,197001200001,1970,1,20,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,Rest,notsevere
26,197001210001,1970,1,21,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,Rest,notsevere
27,197001220001,1970,1,22,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,Rest,notsevere
28,197001220002,1970,1,22,NaN,0,NaN,217,United States,1,...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
29,197001250001,1970,1,25,NaN,0,NaN,217,United States,1,...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,Rest,notsevere
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156742,201512310002,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156743,201512310004,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156744,201512310005,2015,12,31,NaN,0,NaN,95,Iraq,10,...,"""Iraq: Roundup of Security Incidents 29 Decemb...","""Terrorism: Transcript of ISIL's Al-Bayan Radi...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156745,201512310006,2015,12,31,NaN,0,NaN,95,Iraq,10,...,"""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156746,201512310008,2015,12,31,NaN,1,NaN,228,Yemen,10,...,"""Yemen: Security Roundup 2000 GMT 31 December ...","""Gunmen kill senior militia leader in Yemen's ...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156747,201512310009,2015,12,31,NaN,0,NaN,228,Yemen,10,...,"""Senior south Yemen army chief survives bombin...","""Senior south Yemen army commander survives bo...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156748,201512310010,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,NaN,START Primary Collection,0,1,0,1,NaN,Rest,notsevere
156749,201512310012,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156750,201512310013,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,"""Yemen: Security Roundup 2000 GMT 31 December ...",NaN,START Primary Collection,1,1,0,1,NaN,Rest,notsevere
156751,201512310015,2015,12,31,NaN,0,NaN,60,Egypt,10,...,"""Egypt parents, three children killed by shell...","""Egypt officials: Militants in Sinai kill enti...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156752,201512310016,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156753,201512310017,2015,12,31,NaN,0,NaN,155,West Bank and Gaza Strip,10,...,"""Palestinian in West Bank rams Israeli forces ...","""Breaking: Soldier lightly wounded in vehicula...",START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156754,201512310018,2015,12,31,NaN,0,NaN,209,Turkey,10,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156755,201512310019,2015,12,31,NaN,0,NaN,214,Ukraine,9,...,"""Ukrainian police say Crimean power line damag...","""Power transmission line tower in Kherson regi...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156756,201512310020,2015,12,31,NaN,0,NaN,92,India,6,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Asia,notsevere
156757,201512310021,2015,12,31,NaN,0,NaN,75,Germany,8,...,NaN,NaN,START Primary Collection,-9,-9,1,1,NaN,Rest,notsevere
156758,201512310022,2015,12,31,NaN,0,NaN,65,Ethiopia,11,...,"""Hand grenade attack kills 2 at Ethiopian univ...","""Hand grenade attack kills two at Ethiopian un...",START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156759,201512310024,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",Rest,notsevere
156760,201512310025,2015,12,31,NaN,0,NaN,4,Afghanistan,6,...,"""Highlights: Pakistan Pashto Press 2 January, ...",NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156761,201512310026,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",Rest,notsevere
156762,201512310027,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""Philippines: BIFF launches simultaneous attac...","""BIFF harassments, rido disrupt New Year celeb...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",Rest,severe
156763,201512310028,2015,12,31,2015-12-31 00:00:00,0,NaN,95,Iraq,10,...,"""2 soliders killed, wounded in explosion in so...",NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156764,201512310029,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156765,201512310030,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156766,201512310031,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156767,201512310032,2015,12,31,NaN,0,NaN,34,Burundi,11,...,"""One dead, dozen hurt in Burundi grenade attac...",NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156768,201512310033,2015,12,31,2015-12-31 00:00:00,0,NaN,96,Ireland,8,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156769,201512310034,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,Rest,notsevere
156770,201512310036,2015,12,31,2015-12-31 00:00:00,0,NaN,182,Somalia,11,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,Rest,notsevere
156771,201512310037,2015,12,31,NaN,1,1/16/16,113,Libya,10,...,"""21 abducted nationals released in Libya,"" Cai...","""Libya Daily Digest January 20, 2016,"" Libya D...",START Primary Collection,0,1,1,1,NaN,Rest,notsevere

In [48]:
#Q.8) Write a function to label an incident that was both successful and suicidal


def check(event) :
    if ((terror['suicide'][terror['eventid'] == event] == 1).tolist()[0] and 
        (terror['success'][terror['eventid'] == event] == 1).tolist()[0]) :
        print('Yes')
    else :
        print('No')
        
check(201410290055)

No

In [80]:
#Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level
##of the category and all the other countries as another level

terror['Area']= ""
i=0 
j=0
while i<156772:
    if (terror.iat[i,8] == 'Afghanistan' or terror.iat[i,8]=='Pakistan'or terror.iat[i,8]=='India' ):
        terror.iat[i,137] = "Asia"
    else:
        terror.iat[i,137] = "ROW"
    i= i + 1
terror[['eventid','country_txt','Area']]

             eventid               country_txt  Area
0       197000000001        Dominican Republic   ROW
1       197000000002                    Mexico   ROW
2       197001000001               Philippines   ROW
3       197001000002                    Greece   ROW
4       197001000003                     Japan   ROW
5       197001010002             United States   ROW
6       197001020001                   Uruguay   ROW
7       197001020002             United States   ROW
8       197001020003             United States   ROW
9       197001030001             United States   ROW
10      197001050001             United States   ROW
11      197001060001             United States   ROW
12      197001080001                     Italy   ROW
13      197001090001             United States   ROW
14      197001090002             United States   ROW
15      197001100001        East Germany (GDR)   ROW
16      197001110001                  Ethiopia   ROW
17      197001120001             United States   ROW
18      197001120002             United States   ROW
19      197001130001             United States   ROW
20      197001140001             United States   ROW
21      197001150001                   Uruguay   ROW
22      197001190002             United States   ROW
23      197001190003             United States   ROW
24      197001190004             United States   ROW
25      197001200001                 Guatemala   ROW
26      197001210001               Philippines   ROW
27      197001220001                 Venezuela   ROW
28      197001220002             United States   ROW
29      197001250001             United States   ROW
...              ...                       ...   ...
156742  201512310002                      Iraq   ROW
156743  201512310004                      Iraq   ROW
156744  201512310005                      Iraq   ROW
156745  201512310006                      Iraq   ROW
156746  201512310008                     Yemen   ROW
156747  201512310009                     Yemen   ROW
156748  201512310010                     Yemen   ROW
156749  201512310012                     Yemen   ROW
156750  201512310013              Saudi Arabia   ROW
156751  201512310015                     Egypt   ROW
156752  201512310016              Saudi Arabia   ROW
156753  201512310017  West Bank and Gaza Strip   ROW
156754  201512310018                    Turkey   ROW
156755  201512310019                   Ukraine   ROW
156756  201512310020                     India  Asia
156757  201512310021                   Germany   ROW
156758  201512310022                  Ethiopia   ROW
156759  201512310024               Philippines   ROW
156760  201512310025               Afghanistan  Asia
156761  201512310026               Philippines   ROW
156762  201512310027               Philippines   ROW
156763  201512310028                      Iraq   ROW
156764  201512310029                  Pakistan  Asia
156765  201512310030                  Pakistan  Asia
156766  201512310031                  Pakistan  Asia
156767  201512310032                   Burundi   ROW
156768  201512310033                   Ireland   ROW
156769  201512310034               Philippines   ROW
156770  201512310036                   Somalia   ROW
156771  201512310037                     Libya   ROW

[156772 rows x 3 columns]

In [22]:
#Q.10)	How many incidents happened in Af-Pak-India vs ROW?

array = ['Afghanistan','Pakistan','India']
print("Af-Pak-India:\n",terror.loc[terror['country_txt'].isin(array)].count().country)

Af-Pak-India:
 32398

In [81]:
#Q.11)	List the number of suicides attacks and average kills by Af-Pak-India vs ROW.
##Rename columns in the output as Average_Kills and Number_Incidents.

terror[terror.suicide==1].groupby('Area').agg({'suicide':'count','nkill':'mean'})

      suicide      nkill
Area
Asia     1462   8.127404
ROW      3309  11.511403